<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="tel:+840362400302"><i class="fa fa-phone"></i> +84362400302</a></li>
                <li><a href="mailto:phamtanhoang3202@email.com"><i class="fa fa-envelope-o"></i> phamtanhoang3202@gmail.com</a></li>
                <li><a href="https://goo.gl/maps/FaCxakhWPKqodrSK7"><i class="fa fa-map-marker"></i> 371 Nguyễn Kiệm</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->
    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->  
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-4">
                    <div class="header-logo">
                        <a href="/" class="logo">
                            <img src="~/Static/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
                <!-- SEARCH BAR -->
                <div class="col-md-4">
                    <div class="header-search">
                        <form>
                            <input class="input" placeholder="Tìm kiếm tại đây...">
                            <button class="search-btn">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->
                <!-- ACCOUNT -->
                <div class="col-md-4 clearfix">
                    <div class="header-ctn">
                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Giỏ hàng</span>
                                <div class="qty">0</div>
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    <!-- Giỏ hàng sẽ được thêm vào đây -->
                                </div>
                                <div class="cart-summary">
                                    <small><span class="qty">0</span> sản phẩm được chọn</small>
                                    <h5 id="cart-total">Tổng tiền: 0 VNĐ</h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="#!" class="deletea-all-cart" onclick="DeleteAllCart()">Xóa toàn bộ</a>
                                    <a href="#">Thanh toán<i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- /Cart -->
                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
