@model IEnumerable<ImageProduct>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}


<div class="position-relative container-fluid">

    @if (TempData.ContainsKey("SuccessMessage"))
    {
        <div class="toast position-absolute show"
             style="top: 1rem; right: 1rem; z-index: 99999; border-radius: 5px; opacity: 0.95">
            <div class="toast-header bg-success text-white">
                <strong class="me-auto">Thông báo</strong>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                <p>@TempData["SuccessMessage"]</p>
            </div>
        </div>
    }
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 div-add">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách hình ảnh sản phẩm:</h6>
            <button onclick="window.location.href='/Admin/ImageProduct/Create'" title="Thêm hình ảnh sản phẩm"><i class="fa fa-plus"></i></button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã </th>
                            <th>Hình </th>
                            <th>Mã sản phẩm</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var img in Model)
                        {

                        <tr onclick="window.location.href = '/Admin/ImageProduct/Details/@img.ImageProductID'">

                            <td>@img.ImageProductID</td>
                            <td>@img.Image</td>
                            <td>@img.ProductID</td>
                            <th style="width:11%">
                                <a href="/Admin/ImageProduct/Edit/@img.ImageProductID" class="btn btn-primary btn-user">Sửa</a>
                                <a href="/Admin/ImageProduct/Delete/@img.ImageProductID" class="btn btn-danger btn-user">Xóa</a>
                            </th>
                        </tr>
                        }

                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>


